//- layout.jade

doctype html5
html(lang = 'en')
  head
    block head
      title The Van And Man
      meta(charset = 'utf-8')
      meta(name = 'X-UA-Compatible', content = 'IE=edge')
      meta(name = 'viewport', content = 'width=device-width, initial-scale=1.0')
      link(href = '/favicon.ico', rel = 'icon')
      link(href = '/favicon.ico', rel = 'shortcut icon')
      block css
        //bower:css
        link(rel='stylesheet', href='../vendor/normalize.css/normalize.css')
        link(rel='stylesheet', href='../vendor/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='../vendor/fontawesome/css/font-awesome.css')
        //endbower
  body
    block content
    block js
      //bower:js
      script(src='../vendor/jquery/dist/jquery.js')
      script(src='../vendor/bootstrap/dist/js/bootstrap.js')
      //endbower
